// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import "./config";
@import "./flicking";
.container {
  &:not([class*="container--fluid"]){
    @include bp("sm"){
      max-width: 900px;
    }
    @include bp("md"){
      max-width: 950px;
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @include bp("lg"){
      max-width: 1100px;
    }
    @include bp("xl"){
      max-width: 1200px;
    }
    @include bp("xs"){
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.floating {
  animation: float 3s ease-in-out infinite;
  img {
    width: 100%;
    height: auto;
  }
}

.no-interaction {
  user-select: none;
}